body {
  font-family: Arial, sans-serif;
  background-color: #0b4eb4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1e293b;
  color: white;
  padding: 20px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.card {
  background: white;
  padding: 20px;
  width: 200px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.charts {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}
.table-section {
  margin: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #1e293b;
  color: white;
}